# My attempt: 12/14
Failed at: returning the output in the same order as it was inputted.

In [ ]:
import pandas as pd
import numpy as np

data = {'id': [1, 3, 2], 'name': ['Mark', 'Jack', 'Alan'], 'salary': [40000, 30000, 20000], 'managerId':[3,2,None]}
df = pd.DataFrame(data)

import pandas as pd
import numpy as np

def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    #     print('ORIGINAL', employee)
    # Sort by id and set it as the index
    employee = employee.sort_values(by='id').set_index('id')
    # Fill na values with 0
    employee.fillna(0, inplace=True)
    # Set the higherThanManager and managers_salary columns
    employee['higherThanManager'] = False
    employee['managers_salary'] = 0
    #     print('INITIAL', employee)
    # ----- Computations -----
    for i in range(1,employee.shape[0]+1):
        if i in employee.index and employee.loc[i, 'managerId'] in employee.index:
            managers_id = employee.loc[i, 'managerId']
            if (managers_id > 0):
            #Managers salary
                try:
                    employee.loc[i, 'managers_salary'] = employee.loc[managers_id, 'salary']
                    employee.loc[i,'higherThanManager'] = employee.loc[i, 'salary'] > employee.loc[i, 'managers_salary']
                except Exception as e:
                    print('An error occurred: ', str(e))
                    continue
    employee_higher = employee[employee['higherThanManager'] == True]['name'].to_frame()
    employee_higher.rename(columns={'name': "Employee"}, inplace=True)
    # print('FINAL', employee_higher.shape)
    return employee_higher

    
find_employees(df)

# Optimal Leetcode solution

In [ ]:
import pandas as pd

def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    # Subset employee by
    # Rows that have an employee salary higher than
    # ... Use map function to map the managerId to their respective salary
    # Return the rows where the salary of the employee is higher than the salary of their manager
    result_df = employee[employee['salary'] > employee['managerId'].map(employee.set_index('id')['salary'])]
    # Return the 'name' column as 'Employee'
    result_df = result_df[['name']].rename(columns={'name': 'Employee'})
    print(employee)
    return result_df

find_employees(df)

employee.set_index('id')['salary'] -> set the index of the dataframe to the column 'id' and return only the 'salary' column (Series)

employee['managerId'].map(Series) -> for each row the series will be used as a mapping to replace values in the series.

In [ ]:
# Series of employee salaries with the 'id' column as the index
df.set_index('id')['salary']

In [ ]:
# Series of manager ids
df['managerId']

In [ ]:
# For each manager id in the manager ids series return the corresponding value in the salaries Series.
# Example: if the managerId is 3, look for the id of 3 in the salaries Series and return the salary
# Returns a Series where the index is the id of the employee and the value is the salary of the manager
df['managerId'].map(df.set_index('id')['salary'])